/* GLOBAL */
* {
    margin:0;
    box-sizing: border-box;
    font-family: Manrope, Arial;
}

header {
    background-image: url(/assets/images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
}

.hidden {
    display:none !important;
}

button, input {
    outline: none;
    border:none;
}

button {
    cursor: pointer;
    background: transparent;
}

/* HEADER */
.header_container {
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.logo_container {
    width: 100%;
    padding: 50px 0 0 50px;
    top:0;
    left:0;
    position:absolute;
}

.header_title {
   color: #FFD15B;
   font-size: 44px;
   width: 700px;
   text-align: center;
   font-family: Anton, sans-serif;
   font-weight: normal;
}

.search_nav {
    width: 960px;
    background-color: white;
    display:flex;
    border-radius: 10px;
}

.research, .button_container {
    height: 72px;
    border:0;
    width: 100%;
}

.research {
    border-radius: 10px;
    padding: 0 15px 0 30px;
    outline: none;
    font-size: 16px;
}

.button_container {
    width: 80px;
    padding: 10px;
}

.button_container button {
    height: 100%;
    width:100%;
    border-radius: 5px;
    border:0;
    background-color: #1B1B1B;
    color:white;
    transition: all 0.3s;
}

.button_container button:hover {
    color:#1B1B1B;
    background-color: #FFD15B;
}

.button_container i {
    font-size: 2em;
}

/* MAIN */
main {
    background-color:#EDEDED;
    padding: 30px 200px 0 200px;
}

/* FILTER */
.filter_section {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height: 56px;
    position:relative;
}

.filters_container {
    display:flex;
    gap: 60px;
    position:absolute;
    top:0;
    left:0;
}

.filter {
    display:flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px; 
    width: 200px;
    overflow: hidden;
    max-height: 56px;
    z-index: 1;
    overflow-y: auto;
    -ms-overflow-style: none; /* Masque la barre de défilement pour Internet Explorer */
    scrollbar-width: none; /* Masque la barre de défilement pour Firefox */

    /* Masque la barre de défilement pour les navigateurs WebKit (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
        display: none;
    }
}

.show_filter {
    max-height: 315px;
}

.btn_filter:first-child {
    padding: 17px 16px;
}

.btn_filter {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    font-size: 16px;
    text-align: start;
    gap: 10px;
    width:100%;
}

.btn_filter:hover {
    background: #FFD15B;
}

.btn_active {
    background: #FFD15B;
    font-weight: bold;
}

.fa-chevron-down {
    transition: all 0.3s;
}

.down {
    transform: rotate(0);
}

.up {
    transform: rotate(180deg);
}

.filter_search_container {
    display:flex;
    border: 1px solid #C6C6C6;
    margin: 10px 16px;
}

.submit_filter {
    color: #C6C6C6;
    padding-right: 10px;
}

.research_filter {
    width: 100%;
    padding: 10px;
}

.total_recipes {
    font-size: 21px;
    font-family: Anton, sans-serif;
    font-weight: normal;
}

/* FILTERS ACTIVES */
.filters_active_section {
    margin-top: 25px;
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}

.filter_active {
    width: 200px;
    background-color:#FFD15B;
    height: 56px;
    border-radius: 10px;
}

.remove_filter {
    font-size: 18px;
}

/* RECIPES */
.recipes_section {
    padding: 50px 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
}

.no_result {
    font-size: 1.5em;
    text-align: center;
    grid-column: 2;
}

.recipe_card {
    background-color:white;
    border-radius: 21px;
    overflow: hidden;
}

.img_container {
   position: relative; 
}

.recipe_img {
    height: 253px;
    width:100%;
    object-fit: cover;
}

.label_time {
    position:absolute;
    top:20px;
    right:20px;
    padding:5px 15px;
    border-radius: 14px;
    background-color:#FFD15B
}

.label_time, .title_description {
    font-size: 12px;
}

.recipe_description_container {
    padding: 30px 25px;
}

.recipe_title {
    font-family: Anton, sans-serif;
    font-weight:normal;
    font-size: 18px;
}

.recipe_wrapper {
    margin-top: 30px;
}

.title_description {
    color: #7A7A7A;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1.08px;
}

.recipe_description, .ingredient_container {
    font-size: 14px;
}

.ingredient_wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; 
}

.ingredient_container {
    display:flex;
    flex-direction: column;
}

.ingredient {
    font-weight: 500;
}

.unit {
    color: #7A7A7A;
}